main {
  margin-top: 60px;
}

body {
    padding: 10px;
  }
  
  /* input {
    margin: 5px;
  }
   */
/* 
   .group {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  } */

  /* .full-width {
    width: 100%;
    max-width: 500px;
  } */
/* 

  .tall {
    height: 5000px;
  } */
